@* Страница для личного запроса, тут прям плохо всё *@
@* Можно в целом переделать хех, но выбор риелтора из выпадающего списка с картинками всё равно надо довести до ума смотри инструкцию в SellObject.cshtml *@
<div>
    <h1>@ViewData["Title"]</h1>
    <div class="requestContainer">
        
        <div class="w-100 formRequest">
            <div class="text-field text-field_floating-3 w-25">
                <input name="TypeObject" class="text-field__input" placeholder="Тип объекта" list="typeObject" required>
                <label class="text-field__label" for="TypeObject">Тип объекта</label>
                <datalist id="typeObject">
                    <option data-value="1" value="Квартира"></option>
                    <option data-value="2" value="Комната"></option>
                    <option data-value="3" value="Дом"></option>
                    <option data-value="4" value="Участок"></option>
                </datalist>

            </div>
            <div class="text-field text-field_floating-3 w-25">
                <input name="PriceObject" class="text-field__input numbersOnly" placeholder="Стоимость" type="text" required>
                <label class="text-field__label" for="PriceObject">Стоимость</label>
                <label class="cymbolInput">Руб.</label>
            </div>
            <div class="text-field text-field_floating-3 w-25">
                <input name="NumRoomsObject" class="text-field__input numbersOnly" placeholder="Кол-во комнат" type="text" maxlength="2" required>
                <label class="text-field__label" for="NumRoomsObject">Кол-во комнат</label>
            </div>
            <div class="text-field text-field_floating-3 w-25">
                <input name="LivingAreaObject" class="text-field__input numbersOnly" placeholder="Площать помещения" maxlength="3" type="text" required>
                <label class="text-field__label" for="LivingAreaObject">Площать помещения</label>
                <label class="cymbolInput">м<sup>2</sup></label>
            </div>
            <div class="text-field text-field_floating-3 w-25">
                <input name="PlotAreaObject" class="text-field__input numbersOnly" placeholder="Площать участка" maxlength="3" type="text" required>
                <label class="text-field__label" for="PlotAreaObject">Площать участка</label>
                <label class="cymbolInput">м<sup>2</sup></label>
            </div>
            <div class="text-field text-field_floating-3 w-25">
                <input name="FloorObject" class="text-field__input numbersOnly" placeholder="Этаж" maxlength="3" type="text" required>
                <label class="text-field__label" for="FloorObject">Этаж</label>
            </div>
            <div class="text-field text-field_floating-3 w-25">
                <input name="TotalFloor" class="text-field__input numbersOnly" placeholder="Кол-во этажей" maxlength="3" type="text" required>
                <label class="text-field__label" for="TotalFloor">Кол-во этажей</label>
            </div>
            <div class="text-field text-field_floating-3 w-25">
                <input name="Flat" class="text-field__input numbersOnly" placeholder="Квартира" maxlength="3" type="text" required>
                <label class="text-field__label" for="Flat">Квартира</label>
            </div>
            <div class="text-field text-field_floating-3 w-25">
                <input name="CityObject" class="text-field__input" placeholder="Город" type="text" required>
                <label class="text-field__label" for="CityObject">Город</label>
            </div>
            <div class="text-field text-field_floating-3 w-25">
                <input name="DistrictObject" class="text-field__input" placeholder="Район" type="text" required>
                <label class="text-field__label" for="DistrictObject">Район</label>
            </div>
            <div class="dropdown-selectStaff w-25">
                <div id="selectStaffDefault" class="selectStaff">
                    <h5>Выберите риелтора &#9660;</h5>
                </div>
                <div class="selectStaff">
                    <h5>Выбранный риелтор</h5>
                    <div class="dropdownElement">
                        <img src="~/img/staff.png" height="90px" />
                        <div class="d-flex flex-column justify-content-around">
                            <p class="fs-6 m-0 ">Иванов Иван Иванович</p>
                            <div class="d-flex starDiv h-25">
                                <img src="~/img/star.png" />
                                <img src="~/img/star.png" />
                                <img src="~/img/star.png" />
                                <img src="~/img/star.png" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="listDropdownElemrnts">
                    <div class="dropdownElement">
                        <img src="~/img/staff.png" height="90px" />
                        <div class="d-flex flex-column justify-content-around">
                            <p class="fs-6 m-0 ">Иванов Иван Иванович</p>
                            <div class="d-flex starDiv h-25">
                                <img src="~/img/star.png" />
                                <img src="~/img/star.png" />
                                <img src="~/img/star.png" />
                                <img src="~/img/star.png" />
                            </div>
                        </div>
                    </div>
                    <div class="dropdownElement">
                        <img src="~/img/staff.png" height="90px" />
                        <div class="d-flex flex-column justify-content-around">
                            <p class="fs-6 m-0 ">Витязь Игорь Валерьевич</p>
                            <div class="d-flex starDiv h-25">
                                <img src="~/img/star.png" />
                                <img src="~/img/star.png" />
                                <img src="~/img/star.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <button class="w-100 btn btn-outline-primary">Отправить заявку</button>
    </div>
    <script src="~/js/sellObject.js" charset="utf-8" type="text/javascript"></script>
</div>
