<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@(ViewData["Title"])</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GrandReal.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GrandRealt</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li> *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Objects" asp-action="Index">Объекты недвижимости</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Objects" asp-action="FavoriteObjects">Избранные объекты</a>
                        </li>
                    </ul>
                </div>
                <div id="userAuth" class="d-flex">
                    <p id="userName" class="mb-0 mt-2 me-4" ></p>
                    <button id="toLogin" class="btn btn-outline-primary ps-3 pe-3">Выход</button>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="myModalBackground myModalHide">
        <div class="myModal">
            <div class="titleModal">
                <h4 class="m-0 p-0">Внимание</h4>
                <div class="cross" onclick="closeMyAlert()"></div>
            </div>
            <div class="bodyModal">
                <p class="fs-5">Произошёл сбой</p>
            </div>
            <div class="footerModal">
                <button class="btn btn-outline-primary px-3 py-1 mx-3" onclick="closeMyAlert()">Отмена</button>
                <button class="btn btn-primary px-3 py-1">Продолжить</button>
            </div>
        </div>
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - GrandReal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/helper.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
