
@{
    ViewData["Title"] = "Документы";
    //Просто визуальная страница для документов, так сказать шаблоны готовы
    //TODO: Наполнить данными и написать функцию получения файла для скачивания
}
<div>
    <h1>@ViewData["Title"]</h1>
    <div class="containerDocs">
        <div class="cardDoc">
            <div>
                <img src="~/img/docicon-1.png" />
                <h5>Договор о сотрудничестве</h5>
                <p class="">Сотрудничество с организацией с 04.11.2023</p>
            </div>
            <div class="d-flex flex-row-reverse">
                <button class="btn btn-success">Скачать</button>
            </div>
            
        </div>
        <div class="cardDoc">
            <div>
                <img src="~/img/docicon-2.png" />
                <h5>Договор купли/продажи</h5>
                <p>Документ о купли имущества от 13.09.2023</p>
            </div>
            <div class="d-flex flex-row-reverse">
                <button class="btn btn-success">Скачать</button>
            </div>
            
        </div>
        <div class="cardDoc">
            <img src="~/img/docicon-2.png" />
            <h5>Договор купли/продажи</h5>
            <p>Документ о купли имущества от 02.04.2023</p>
            <div class="d-flex flex-row-reverse">
                <button class="btn btn-success">Скачать</button>
            </div>
            
        </div>
        <div class="cardDoc">
            <img src="~/img/docicon-3.png" />
            <h5>Договор купли/продажи</h5>
            <p>Документ о продаже имущества от 07.03.2023</p>
            <div class="d-flex flex-row-reverse">
                <button class="btn btn-success">Скачать</button>
            </div>
            
        </div>
        <div class="cardDoc">
            <img src="~/img/docicon-1.png" />
            <h5>Договор о сотрудничестве</h5>
            <p class="">Сотрудничество с организацией с 01.11.2022</p>
            <div class="d-flex flex-row-reverse">
                <button class="btn btn-success">Скачать</button>
            </div>
            
        </div>
    </div>
</div>